
    <div class="sidebar-sticky" data-sidebar-sticky-options='{
      "topSpacing": 120,
      "minWidth": 991
    }'>
      <div class="sidebar-sticky-inner">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-1">{{ nombres }}</h5>
            <p class="card-text text-muted mb-lg-0" href="mailto:support&#64;gmail.com">{{ email }}</p>
          </div>
          <div id="account-menu" class="collapse d-lg-block">
            <div class="list-group list-group-flush border-top">
              <a [routerLink]="['/cuenta/perfil']" routerLinkActive="active"  class="list-group-item list-group-item-action d-flex align-items-center active">
                <i class="fas fa-user font-size-lg mr-2"></i>
                <span>MI perfil</span>
              </a>
              <a [routerLink]="['/cuenta/direcciones']" routerLinkActive="active"class="list-group-item list-group-item-action d-flex align-items-center">
                <i class="fas fa-map-marker-alt font-size-lg mr-2"></i>
                <span>Mis direcciones</span>
              </a>
              <a [routerLink]="['/cuenta/ordenes']" routerLinkActive="active"class="list-group-item list-group-item-action d-flex align-items-center">
                <i class="fas fa-shopping-bag font-size-lg mr-2"></i>
                <span>Mis ordenes</span>
              </a>
              <a [routerLink]="['/cuenta/reviews']" routerLinkActive="active"class="list-group-item list-group-item-action d-flex align-items-center">
                <i class="fas fa-star font-size-lg mr-2"></i>
                <span>Mis reseñas</span>
              </a>
              <a [routerLink]="['/cuenta/seguridad']" routerLinkActive="active" class="list-group-item list-group-item-action d-flex align-items-center">
                <i class="fas fa-shield-alt font-size-lg mr-2"></i>
                <span>Seguridad</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
