<app-nav></app-nav>
<main class="cs-page-wrapper fadeIn">

    <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb breadcrumb-alt mb-0">
                <li>
                    <a [routerLink]="['/inicio']">
                        <i class="fas fa-home"></i>
                    </a>
                    <i class="fas fa-greater-than text-muted mx-3"></i>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Desarrolladores</li>
            </ol>
        </div>
      </nav>

    <div class="container">
        <!-- Developer 1 -->
        <div class="developer-card">
            <div class="developer-info">
                <img src="../../assets/img/ecommerce/home/perfiles/perfil-jimbo.jpg" alt="Developer 1">
                <div class="details">
                    <h3 class="nombres">Jordy Jimbo Ortiz</h3>
                    <p>Full Stack Developer</p>
                    <div class="contact-info">
                        <p><strong>Email:</strong> jimbojordy383&#64;gmail.com</p>
                        <div class="social-icons">
                            <a href="https://x.com/J10Jimbo" target="_blank"><i class="fab fa-x"></i></a>
                            <a href="https://acortar.link/gDV4ZE" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100090828782107" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Developer 2 -->
        <div class="developer-card">
            <div class="developer-info">
                <img src="../../assets/img/ecommerce/home/perfiles/perfil-gustavo.jpeg" alt="Developer 2">
                <div class="details">
                    <h3 class="nombres">Gustavo Muñoz</h3>
                    <p>Backend Developer</p>
                    <div class="contact-info">
                        <p><strong>Email:</strong> gustavomunoz&#64;gmail.com</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/jimbo" target="_blank"><i class="fab fa-x"></i></a>
                            <a href="https://instagram.com/jimbo" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/jimbo" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Developer 3 -->
        <div class="developer-card">
            <div class="developer-info">
                <img src="../../assets/img/ecommerce/home/perfiles/perfil-medina.jpg" alt="Developer 3">
                <div class="details">
                    <h3 class="nombres">Medina Andres</h3>
                    <p>Frontend Developer</p>
                    <div class="contact-info">
                        <p><strong>Email:</strong> amedina23&#64;gmail.com</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/jimbo" target="_blank"><i class="fab fa-x"></i></a>
                            <a href="https://instagram.com/jimbo" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/jimbo" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Developer 4 -->
        <div class="developer-card">
            <div class="developer-info">
                <img src="../../assets/img/ecommerce/home/perfiles/merchan.jpg" alt="Developer 4">
                <div class="details">
                    <h3 class="nombres">Merchan Dota</h3>
                    <p>UI/UX Designer</p>
                    <div class="contact-info">
                        <p><strong>Email:</strong> merchandot3&#64;gmail.com</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/jimbo" target="_blank"><i class="fab fa-x"></i></a>
                            <a href="https://instagram.com/jimbo" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/jimbo" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Developer 5 -->
        <div class="developer-card">
            <div class="developer-info">
                <img src="../../assets/img/ecommerce/home/perfiles/perfil-minato.jpg" alt="Developer 5">
                <div class="details">
                    <h3 class="nombres">Gonzalez Luis</h3>
                    <p>Diseño Developer</p>
                    <div class="contact-info">
                        <p><strong>Email:</strong> luis23&#64;gmail.com</p>
                        <div class="social-icons">
                            <a href="https://twitter.com/jimbo" target="_blank"><i class="fab fa-x"></i></a>
                            <a href="https://instagram.com/jimbo" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://facebook.com/jimbo" target="_blank"><i class="fab fa-facebook"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>
