.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.rating span {
  font-size: 25px;
  cursor: pointer;
  color: #e4e5e9;
  transition: color 0.2s;
  margin-right: 5px;
}

.rating span:hover,
.rating span:hover ~ span {
  color: #ffc107;
}

.rating .selected,
.rating span.selected ~ span {
  color: #ffc107;
}

.rating:hover span.selected,
.rating:hover span.selected ~ span {
  color: #e4e5e9;
}

.rating:hover span:hover,
.rating:hover span:hover ~ span {
  color: #ffc107;
}